language: python

matrix:
  include:
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36

install: pip install tox

script:
  - tox
  - ./.github/check_license.sh
  - ./.github/check_python_scripts.sh

notifications:
  email: false
