# Include the README
include *.md

# Include the license file
include LICENSE
include AUTHORS

include Makefile
include requirements.txt

include *.yapf
include *.yml

recursive-include examples *.fasm

# Docs
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include docs *.png
recursive-include docs Makefile
recursive-include tests *
prune tests/__pycache__
prune docs/_*
prune docs/env

include src/*
include src/antlr/*
graft third_party
global-exclude .git
exclude .gitmodules
exclude .clang-format

recursive-include fasm/parser *.tx
recursive-include fasm/parser *.pyx
exclude fasm/parser/*.c
include pyproject.toml
