# Include the README
include *.md

# Include the license file
include COPYING

include *.yapf

recursive-include examples *.fasm

# Docs
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include docs *.png
recursive-include docs Makefile
prune docs/_*
prune docs/env
